@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #0d0d0d;
  background-color: #fef9f8;
}

/* HEADINGS AND LOGO*/

h1,
h2 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #050505;

}

#logo {
  float: left;
  font-size: 280%;
}

/* NAVIGATION LINKS */
#menu {
  font-size: 110%;
  letter-spacing: 5px;
}

#menu,
#logo {
  line-height: 75px;
}

#menu li {
  float: right;
  list-style-type: none;
}

#menu li a {
  display: block;
  color: #0d0d0d;
  text-align: center;
  padding: 0px 35px;
  text-decoration: none;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid #fef9f8;
}

#menu a:hover:not(.active) {
  color: #fef9f8;
  background-color: #ef9273;
}

#menu a.active {
  color: #fef9f8;
  background-color: #ef9273;
}

/* MAIN IMAGE AND COVER TEXT*/

#main-section {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#main-cover-text {
  font-size: 130%;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  width:600px;
  height:150px;
  padding-top:40px;
  padding-left: 10px;
  bottom:50px;
  right:0px;
  position:absolute;
  background-color: aqua;
  opacity: 0.7;
}

#main-cover-text,
#main-cover-text h2 {
  color: #fef9f8;
}

#main-image {
  height: 600px;
  width: 100%;
  background: url('../images/Fitness_Factory_Main.jpg') no-repeat center center;
  /* APLYING MAIN IMAGE TRANSFORMATION*/
  animation-name: opacity-up;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

/* IMAGE TRANSFORMATION */
@keyframes opacity-up {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0.9;
  }
}